div {
  display : inline;
  min-width: 40px;
  font-size: 100px;
  line-height: 2.5em;
  padding: 100px;
}

.carte {
position: absolute;
}

/* .facedown:active {
  display:none;
} */

.facedown {
position: absolute;
}
