div {
  display : inline;
  min-width: 40px;
  font-size: 100px;
  line-height: 2em;
  padding: 10px;
}

.carte {
visibility: hidden;
}

/* .facedown:active {
  display:none;
} */

.carte:hover {
visibility: visible;
}
